{% extends "main.html" %}

{% block content %}
{% for notification in notifications %}
<div>
    {% for user in notification.users %}
    {% if loop.index > 1 %}
        and {{ user }} 
    {% else %}
        {{ user }}
    {% endif %}
    {% if loop.index == loop.length %}
        {% if loop.length > 1 %}
            are
        {% else %}
            is
        {% endif %}
    {% endif %}
    {% endfor %}
    hosting an event ({{ notification.event }}) soon.
</div>
{% endfor %}

{% endblock %}
