
<!DOCTYPE html>
<html>
	<head>
		<title>pico</title>
		<link rel="stylesheet" type="text/css" href="static/main.css"></link>
	</head>
	<body>
		<div id="bg">
			<img src="http://2.bp.blogspot.com/_KtOEDjqBEnk/SwiMjos5Y0I/AAAAAAAACwU/c29nwA9IcmE/s1600/spitzer+galactic+center.jpg" alt="">
		</div>

		<div id="logo">
			<h2>pico</h2>
		</div>

		<div id="center">
			<div id="tabsholder">
			<button onclick="location.href = '/home';" class="tabs">home</button></a>
			<button onclick="location.href = '/closefriends';" class="tabs">close friends</button></a>
			<button onclick="location.href = '/timebudget';" class="tabs">time budget</button></a>
			</div>

			<div>

				{% block content %}{% endblock %}
			  	

			</div>
		</div>
	</body>
</html>
